# Análise Fatorial PCA

MBA em Data Science e Analytics USP ESALQ

Prof. Dr. Wilson Tarantin Junior

-*- coding: utf-8 -*-

In [3]:
# Instalando os pacotes.

# !pip install pandas
# !pip install numpy
# !pip install factor_analyzer
# !pip install sympy
# !pip install scipy
# !pip install matplotlib
# !pip install seaborn
# !pip install plotly
# !pip install pingouin
# !pip install pyshp

In [2]:
# Importando os pacotes necessários.

import pandas as pd
import numpy as np
from factor_analyzer import FactorAnalyzer
from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity
import pingouin as pg
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.io as pio
import plotly.graph_objects as go
import shapefile as shp

In [5]:
# Importando o banco de dados.

url = 'https://github.com/filipecarbonera/MBA_USP_Data_Science_Analytics/raw/main/Factor%20Analysis%20and%20PCA/dados/atlas_ambiental.xlsx'

atlas = pd.read_excel(url)
atlas.head()

,cód_ibge,distritos,renda,quota,escolaridade,idade,mortalidade,txcresc,causasext,favel,denspop
0,1,Água Rasa,1961,34.619999,7.6,32,13.86,-1.840000,52.980000,0.00,125.610001
1,2,Alto de Pinheiros,4180,75.959999,8.4,33,8.68,-2.520000,38.570000,0.69,57.560001
2,3,Anhanguera,1093,4.500000,5.8,23,15.36,18.120001,22.680000,0.00,8.570000
3,4,Aricanduva,1311,21.020000,6.8,27,18.43,-1.070000,76.220001,5.38,138.539993
4,5,Artur Alvim,1248,15.910000,7.0,27,19.73,-1.400000,67.250000,4.11,167.399994

In [6]:
# Informações sobre as variáveis.
atlas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cód_ibge      96 non-null     int64
 1   distritos     96 non-null     object
 2   renda         96 non-null     int64
 3   quota         96 non-null     float64
 4   escolaridade  96 non-null     float64
 5   idade         96 non-null     int64
 6   mortalidade   96 non-null     float64
 7   txcresc       96 non-null     float64
 8   causasext     96 non-null     float64
 9   favel         96 non-null     float64
 10  denspop       96 non-null     float64
dtypes: float64(7), int64(3), object(1)
memory usage: 8.4+ KB

In [7]:
# Estatísticas descritiva das variáveis.
tab_desc = atlas.drop(columns=['cód_ibge']).describe()
tab_desc

,renda,quota,escolaridade,idade,mortalidade,txcresc,causasext,favel,denspop
count,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000
mean,1856.218750,30.478021,7.075000,27.395833,15.992812,0.041146,71.086667,5.932187,99.860104
std,970.774441,23.040243,1.008908,4.385332,4.994409,3.509652,23.315169,7.883762,49.606814
min,159.000000,0.610000,4.800000,20.000000,6.460000,-6.240000,22.680000,0.000000,0.370000
25%,1150.000000,12.400000,6.300000,23.000000,12.960000,-2.042500,56.417499,0.000000,64.317497
50%,1628.000000,24.304999,7.000000,27.000000,16.230000,-0.835000,70.395000,3.015000,96.165001
75%,2315.500000,40.989999,7.850000,31.000000,18.720001,1.342500,82.370001,7.837500,136.222500
max,5146.000000,104.730003,9.200000,36.000000,44.250000,18.120001,127.370003,45.689999,249.600006